<!--Content Section-->

<div id="services" class="scrollto clearfix">

    <section id="clients" class="scrollto clearfix">
        <div class="row clearfix">

            <div class="col-3">

                <div class="section-heading">
                    <h3>Accommodation type</h3>
                    <h2 class="section-title">Search by accommodation type</h2>
                    <p class="section-subtitle">
                        We have a variety of accommodation for you to choose according to your style and preferences.
                    </p>
                </div>

            </div>

            <div class="col-2-3">

                <a href="#" class="col-3">
                    <img src="../../assets/images/company-images/7.jpg" alt="Company" />
                    <div class="client-overlay"><span>HOTEL</span></div>
                </a>
                <a href="#" class="col-3">
                    <img src="../../assets/images/company-images/1.jpg" alt="Company" />
                    <div class="client-overlay"><span>APARTMENT</span></div>
                </a>
                <a href="#" class="col-3">
                    <img src="../../assets/images/company-images/8.jpg" alt="Company" />
                    <div class="client-overlay"><span>HOSTEL</span></div>
                </a>
                <a href="#" class="col-3">
                    <img src="../../assets/images/company-images/2.jpg" alt="Company" />
                    <div class="client-overlay"><span>CAMP</span></div>
                </a>
                <a href="#" class="col-3">
                    <img src="../../assets/images/company-images/3.jpg" alt="Company" />
                    <div class="client-overlay"><span>BUNGALOW</span></div>
                </a>
                <a href="#" class="col-3">
                    <img src="../../assets/images/company-images/4.jpg" alt="Company" />
                    <div class="client-overlay"><span>VACATION HOME</span></div>
                </a>
                <a href="#" class="col-3">
                    <img src="../../assets/images/company-images/5.jpg" alt="Company" />
                    <div class="client-overlay"><span>POOL VILLA</span></div>
                </a>
                <a href="#" class="col-3">
                    <img src="../../assets/images/company-images/6.jpg" alt="Company" />
                    <div class="client-overlay"><span>RESORT</span></div>
                </a>

                <a href="#" class="col-3">
                    <img src="../../assets/images/company-images/9.jpg" alt="Company" />
                    <div class="client-overlay"><span>HOMESTAY</span></div>
                </a>

            </div>

        </div>
        <br><br><br><br><br><br><br><br><br>
    </section>


</div>
<!--End of Content Section-->