<!--Banner Content-->
<div id="banner-content" class="row clearfix">
    <div class="col-38">
        <div class="section-heading">
            <br><br>
            <h1>A FREE AND SIMPLE LANDING PAGE</h1>
            <br>
            <h2>Namari is a free landing page template you can use for your projects. It is free to use for your personal and commercial projects, enjoy! <br><br><br> </h2>
        </div>
    </div>

    <div class="row clearfix">
        <!--Pricing Block-->
        <div class="pricing-block col-3 " data-wow-delay="0.8s">
            <div class="pricing content">
                <h3>ค้าหาที่พักที่ท่านต้องการ</h3>
                <ul>
                    <div>
                        <form action="">

                            <input type="text" id="fname" name="firstname" placeholder="จุดหมายปลายทางของท่าน">

                            <div class="day-visited">
                                <a> &nbsp;  CHECK IN &nbsp; &nbsp; &nbsp; : &nbsp; </a>
                                <input type="date" name="dayvisited" required/>
                                <i class="fas fa-calendar-alt"></i>
                            </div>

                            <div class="day-visited">
                                <a> &nbsp;  CHECK OUT &nbsp; :  &nbsp; </a>
                                <input type="date" name="dayvisited" required/>
                                <i class="fas fa-calendar-alt"></i>
                            </div>

                            <select id="country" name="country">
                              <option value="user">ผู้ใหญ่ 1 คน</option>
                              <option value="user">ผู้ใหญ่ 2 คน</option>
                              <option value="user">ผู้ใหญ่ 2 คน เด็ก 1 คน</option>
                              <option value="user">ผู้ใหญ่ 2 คน เด็ก 2 คน</option>
                          </select>
                            <input type="submit" value="ค้นหา">
                        </form>
                    </div>
                </ul>
            </div>
        </div>
    </div>


</div>