<!--Introduction-->
<section id="about" class="introduction scrollto">

    <!--Testimonials-->

    <aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

        <div class="row clearfix">

            <div class="section-heading">
                <h3>FEEDBACK</h3>
                <h2 class="section-title">What our customers are saying</h2>
            </div>

            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <img src=" ../assets/images/user-images/1.jpg" alt="User" />
                <q>There are many hotels to choose from according to my style. Thank you for new experiences
          et dolore magna aliqua.</q>
                <footer>John Doe - Happy Customer</footer>
            </blockquote>
            <!-- End of Testimonial-->

            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <img src="../assets/images/user-images/2.jpg" alt="User" />
                <q>cheap accommodation exactly as desired And there are many rooms to choose from. it's great  <br> I will recommend to friends</q>
                <footer>Roslyn Doe - Happy Customer</footer>
            </blockquote>
            <!-- End of Testimonial-->

            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <img src="../assets/images/user-images/3.jpg" alt="User" />
                <q>It's a hassle-free hotel booking. There are many hotels to choose from at different prices, this is really good.</q>
                <footer>Thomas Doe - Happy Customer</footer>
            </blockquote>
            <!-- End of Testimonial-->


        </div>

    </aside>
    <!--End of Testimonials-->


</section>
<!--End of Introduction-->