<div id="header" class="nav-collapse nav-solid">
    <div class="row clearfix">
        <div class="col-1">

            <!--Logo-->
            <div id="logo">

                <!--Logo that is shown on the banner-->
                <img src="../assets/images/logo.png" id="banner-logo" alt="Landing Page" />
                <!--End of Banner Logo-->

                <!--The Logo that is shown on the sticky Navigation Bar-->
                <img src="../assets/images/logo-2.png" id="navigation-logo" alt="Landing Page" />
                <!--End of Navigation Logo-->

            </div>
            <!--End of Logo-->


            <nav id="nav-main">
                <ul>
                    <li>
                        <a href="#banner">HOME</a>
                    </li>
                    <li>
                        <a href="#gallery">PLACE</a>
                    </li>
                    <li>
                        <a href="#about">FEEDBACK</a>
                    </li>
                    <li>
                        <a href="#services">ACCOMMODARION</a>
                    </li>
                    <li>
                        <a href="">LOGIN</a>
                    </li>
                    <li>
                        <a href="">REGISTE</a>
                    </li>


                </ul>
            </nav>



            <div id="nav-trigger"><span></span></div>
            <nav id="nav-mobile"></nav>

        </div>
    </div>
</div>
<!--End of Header-->